body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

main{
  display: flex;
  justify-content: center;
  padding: 30px;
  flex: 1 1 auto;
}

main.dark {
  background-color: #1a1a1a;
  color: #f0f8ff;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px ;
}

form label {
  font-size: 20px;
}

form input {
  padding: 5px;
  font-size: 14px;
}

form select {
  padding: 5px;
  font-size: 14px;
}

form button{
  margin-top: 10px;
}

h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 19px;
}

p {
  padding: 0;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: aliceblue;
}

button.dark{
  background-color: aliceblue;
  color: #1a1a1a;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-check-res {
  margin-top: 15px;
}
  
.answer {
  background-color: lightblue;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
  color: black;
  cursor: pointer
}

nav {
  padding-inline: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #1a1a1a;
}

nav.dark {
  background-color: #1a1a1a;
  color: whitesmoke;
  border-bottom: 1px solid #f0f8ff;
}

